P {
    font-size: 20px;
    color: blue;
}

#second {
    font-size: 25px;
    color: red;
}

.third{
    font-size: 30px;
    color: blueviolet;
}

a:link{
    color: darkorchid;
}
a:visited{
    color: darkblue;
}
a:hover{
    color: gold;
}
::selection{
    color: black;
    background-color:yellow ;
}
input[type="text"] {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: yellow;
    }
    
    input[type="button"] {
    width: 120px;
    margin-left: 35px;
    display: block;
    }

.main-div h1{
    background-color:black;
    color: blue;
}
.main-div h2{
    background-color: blueviolet;
    color: aqua;
}

h1+h2{
    background-color: orange;
    color: black;
}